<h2>User Profile Page</h2>

<div>
<span><%= @user.photo %></span>
<span><%= @user.name %></span>
<p>Number of Posts: <%= @user.posts_counter %></p>
</div>

<p>Bio: <%= @user.bio %></p>

<hr>

<% @user.recent_three.each_with_index do |post, index|%>
<p>Post #<%= index+1 %></p>
<p>
  <%= post.text%>
</p>
 <span>Likes : <%= post.likes_counter %></span>
  <span>Comments : <%= post.comments_counter %></span>
<% end %>
<%= link_to "See all posts", user_posts_path(@user.id)%>
