<div class="container">
    <div class="card" style="width: 100%">
      <button class="btn btn-outline-success">
        <%= link_to 'Create New Post', new_user_post_path, class: 'nav-link active' %>
      </button>
      <ul class="list-group list-group-flush">
        <li class="list-group-item ">
            <div class="d-flex justify-content-between">
              <div class="h5"><img src=<%= @user.photo %> alt="profile picture of <%= @user.name %>" /><b>User Name: </b><%=@user.name%></div>
              <p class="mx-4" style="position: relative">
                Number of Posts:
                <span
                  style="
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: blue;
                    color: white;
                    font-size: 12px;
                    text-align: center;
                  "
                  class=""
                  ><%= @user.posts_counter %></span
                >
              </p>
            </div>
          </li>
          <h6 class="px-2 mt-2">Posts</h6>
        <% @user.posts.each do |post|%>
        <li class="list-group-item ">
          <div class="">
           <div class="d-flex justify-content-between">
            <div class="post-container">
              <h6 class="mb-1"><b>Title: </b><%=post.title%></h6>
              <p>content: <%=post.text%></p>
          </div>
           <div class="counter">
            <small>comments: </b><%=post.comments_counter%></b> </small>
            <small>likes: </b><%=post.likes_counter%></b> </small>
           </div>
           </div>
          <div class="comments">
            <% post.fetch_recent_comments.each do |comment|%>
            <p>Comment: <%=comment.text%></p>
            <%end%>
          </div>
          </div>
          <div class="">
          <% if can? :read, post %>
            <%= link_to 'Read more', user_post_path(@user, post.id), class: 'btn-sm btn btn-primary' %>
            <%end%>
            <% if can? :destroy, post %>
            <%= link_to 'Delete', user_post_path(@user, post.id),data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete post?'}, class: 'btn-sm btn btn-danger' %>
            <%end%>
          <%= link_to 'Back', user_path(@user), class: 'btn-sm btn btn-outline-success' %>
           </div>
        </li>
        <%end%>
      </ul>
    </div>
    <%= will_paginate @posts, :container => false %>
</div>
