<h1>This is the Post Page</h1>

<div class="posts">
  <div>
    <p> <%= @post.text%> </p>
    <p > Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %> </p>
  </div>
  <div >
    <%= form_with url: "/users/#{@post.author_id}/posts/#{@post.id}/likes" do |f| %>
  <%= f.submit "Like" %>
  <% end %>
  </div>
</div>

<%= link_to 'Add comment', new_user_post_comment_path(@user, @post) %>
