<div>
    <div class="d-flex justify-content-between shadow p-3 mb-5 bg-body rounded">
        Post <%= @post.id %> by <%= @post.author.name %>
        <div>
            <span>Comments: <%= @post.comments_counter %> </span> <span> Likes: <%= @post.likes_counter %> </span>
        </div>
    </div>

    <p class="shadow p-3 mb-5 bg-body rounded"> <%= @post.text%> </p>    
</div>

<div class="d-flex flex-column p-3 mb-5 bg-body rounded">
    <% @post.comments.each do |comment|%>
        <span> <%= comment.author.name %>: <%= comment.text%> </span>
    <% end %>
</div>
<% end %>

<div>
    <h2> Create Comment </h2>
    <%= form_with model: @comment, url: user_post_comments_path(Current.user, @post.id), data: { turbo: false} do |form| %>
        <% if @post.errors.any? %>
            <div class="alert alert-danger">
                <% @post.errors.full_messages do |message| %>
                    <div> <%= message %> </div>
                <% end %>
            </div>
        <% end %>
        <div class="mb-3">
            <%= form.label :text, class: "form-label" %>
            <%= form.text_field :text, class: "form-control", id: "exampleFormControlInput1", placeholder: "Post Title" %>
        </div>
        <%= form.submit "Post Comments", class:"btn btn-primary" %>
    <% end %>
</div>
